<div class="containerCard">

  <div class="product-details">

    <h1>LOREM TITLE</h1>

    <p class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat necessitatibus hic aperiam earum recusandae, cumque minima non id sunt qui sapiente cum nobis nesciunt tempora ea vel. Neque, dicta!</p>

  </div>

  <div class="product-image">

    <img class="imageSide"
      src="https://images.pexels.com/photos/810357/pexels-photo-810357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </div>

</div>

<div class="containerCard">

  <div class="product-details">

    <h1>LOREM TITLE</h1>

    <p class="information">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, explicabo nulla ad quasi accusamus nesciunt expedita temporibus, deleniti laudantium recusandae vitae iusto ex vel nobis, libero consectetur excepturi eveniet quisquam!</p>

  </div>

  <div class="product-image">

    <img class="imageSide"
      src="https://images.pexels.com/photos/810357/pexels-photo-810357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </div>

</div>

