<div class="containerCard">

  <div class="product-details">

    <h1>LE MIE PALLE QUANDO</h1>

    <p class="information">" Let's spread the joy , here is Christmas , the most awaited day of the year.Christmas Tree
      is what one need the most. Here is the correct tree which will enhance your Christmas.</p>

  </div>

  <div class="product-image">

    <img class="imageSide"
      src="https://images.pexels.com/photos/810357/pexels-photo-810357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </div>

</div>

<div class="containerCard">

  <div class="product-details">

    <h1>LE MIE PALLE QUANDO</h1>

    <p class="information">" Let's spread the joy , here is Christmas , the most awaited day of the year.Christmas Tree
      is what one need the most. Here is the correct tree which will enhance your Christmas.</p>

  </div>

  <div class="product-image">

    <img class="imageSide"
      src="https://images.pexels.com/photos/810357/pexels-photo-810357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="">
  </div>

</div>

