<body>

  <!-- Header -->
  <header class="header">
    <div class="container flex">
      <div class="text">
        <h1 class="mb">
          <span class="sivelBlue">Car Unit</span><br />
          Il tuo braccio destro
        </h1>

        <p class="mb">
          La nuova frontiera dei gestionali per gli <span class="sivelBlue">autosaloni</span>, inizia subito la tua gara contro il disordine..
        </p>

        <a href="#" class="btn mt">Andiamo!</a>
      </div>

      <div class="visual">
        <img id="slsamg"
          src="../../../assets/sls1960.png"
          alt=""
        />
      </div>
    </div>
  </header>
  <!-- End Header -->

  <!-- Why Us -->
  <div class="section" id="why-us">
    <div class="container flex">
      <div class="text">
        <h2 class="primary mb">Perchè sceglierci?</h2>
        <h3 class="secondary mb">Gestione del parco auto e dei dipendenti</h3>
        <p class="tertiary">
          All'interno dell'app troverai modo di gestire l'andamento del tuo <span class="sivelBlue">autosalone</span> in qualsiasi momento
        </p>

        <h3 class="secondary mb">E se mi trovo in difficoltà?</h3>
        <p class="tertiary">
          La tua esperienza all'interno di <span class="sivelBlue">Car Unit</span> è importante per noi, quindi avrai a disposizione il nostro team di supporto 24/7
        </p>
      </div>
      <div class="visual">
        <img id="peopleTalking"
          src="../../../assets/peopleTalking.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- End Why Us -->

  <!-- Trainer -->
  <div class="section" id="trainer">
    <h2 class="primary mb">Dal developer al customer</h2>
    <div class="container flex">
      <div class="trainer">
        <img id="carisio"
          src="../../../assets/carisio.png"
          alt=""
        />
        <h3 class="secondary mb">Carisio Di Giampietro</h3>
        <p class="tertiary mb">
          Ti aiuterò a trovare il giusto compromesso tra la quotidianità e l'<span class="sivelBlue">innovazione</span>
        </p>


      </div>
    </div>
  </div>
  <!-- End Trainer -->

  <!-- Testimonial -->
  <div class="section" id="testimonial">
    <div class="container flex">
      <div class="text">
        <h2 class="primary">
          Questo è quello che <br />
          nessun cliente ha detto su di noi
        </h2>

        <br />
        <br />
        <br />

        <div class="client">
          <img
            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
            alt=""
          />
          <h2 class="secondary">Popi popi</h2>
          <p class="tertiary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            quas voluptatem ad, repudiandae voluptates odio deleniti
            reiciendis in veniam quidem expedita maxime error fugit. Pariatur
            quasi sunt aut id. Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Neque, officiis.
          </p>
        </div>
      </div>
      <div class="visual">
        <img id="maserati"
          src="../../../assets/maserati.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- End Testimonial -->

  <!-- Discount -->
  <div class="section" id="discount">
    <div class="container flex">
      <div class="visual">
        <img id="racer"
          src="../../../assets/racer.png"
          alt=""
        />
      </div>
      <div class="text">
        <h2 class="primary mb">
          La vita è una corsa contro il tempo adesso sta a te decidere il giusto <span class="sivelBlue">team</span>
        </h2>

        <p class="tertiary mb">
          Un sacco di motivi fantastici per farti comprare il mio servizio
        </p>

        <a href="#" class="btn bt">Contattaci adesso!</a>
      </div>
    </div>
  </div>
  <!-- End Discount -->
