
  <div id="footer" class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center">
  <img id="logo" src="../../../assets/icon/Logo ilcary _.png" alt="Image" >
  <div class="font-medium text-900 mt-4 mb-3">&copy; 2023 ILCARY, Srl</div>
  <p class="text-600 line-height-3 mt-0 mb-4">Tutti i diritti sono riservati</p>
  <div class="flex align-items-center justify-content-center">
      <a class="cursor-pointer text-700 mr-5">
          <i class="pi pi-twitter"></i>
      </a>
      <a class="cursor-pointer text-700 mr-5">
          <i class="pi pi-facebook"></i>
      </a>
      <a class="cursor-pointer text-700">
          <i class="pi pi-github"></i>
      </a>
  </div>
</div>


